<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ptit.baobang.piospaapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activities.main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.all_product.AllProductActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.product_detail.ProductDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.service_detail.ServiceDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.dialogs.booking_time.BookingTimeActivity"
            android:theme="@style/Base.Theme.AppCompat.Light.Dialog.Alert" />
        <activity
            android:name=".ui.activities.register.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.booking_info.BookingInfoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.activities.payment.PaymentActivity" />
        <activity
            android:name=".ui.dialogs.province.ProvinceActivity"
            android:theme="@style/Base.Theme.AppCompat.Light.Dialog.Alert" />
        <activity
            android:name=".ui.dialogs.district.DistrictActivity"
            android:theme="@style/Base.Theme.AppCompat.Light.Dialog.Alert" />
        <activity
            android:name=".ui.dialogs.ward.WardActivity"
            android:theme="@style/Base.Theme.AppCompat.Light.Dialog.Alert" />
        <activity
            android:name=".ui.activities.profile.ProdfileActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.activities.order.OrderActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.activities.order_detail.OrderDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>